@using ArtRoyalDetailing.Domain.Enum
@using System.Security.Claims
@{
    string role = User.IsInRole($"{(int)Role.Washer}") ? "Мойщик" : User.IsInRole($"{(int)Role.Admin}") ? "Администратор" : User.IsInRole($"{(int)Role.Client}") ? "Клиент" : "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArtRoyalDetailing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="~/favicon.ico">
    <script src="https://unpkg.com/cookielib/src/cookie.js"></script>
    <script src="https://unpkg.com/cookielib/src/cookie.min.js"></script>
    <script>
        const getPreferredColorScheme = () => {
            if (getCookie('colorScheme') == "dark") {
                return "dark"
            }
            if (getCookie('colorScheme') == "default") {
                return "default"
            }
            const darkQuery = "(prefers-color-scheme: dark)";
            const darkMQL = window.matchMedia ? window.matchMedia(darkQuery) : {};
            if (darkMQL.media === darkQuery && darkMQL.matches) {
                setCookie('colorScheme', 'dark')
                return "dark";
            }
            else {
                setCookie('colorScheme', 'default')
                return "default"
            }
            return "default";
        };
        document.documentElement.setAttribute("data-color-scheme", getPreferredColorScheme());
    </script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/calendar.css" />


</head>
<body>
    <div id="formodals"></div>
    <div id="formodalAuthReg"></div>
    <div class="container">
        <main role="main" class="pb-3 mt-2">
            @RenderBody()
        </main>
    </div>
    <footer>
        <nav class="navbar navbar-expand-sm fixed-bottom navbar-toggleable-sm box-shadow mt-3 custom-navbar">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: bold; white-space: nowrap">ArtRoyalDetailing</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex ">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole($"{(int)Role.Client}"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Appointment" asp-action="Index">Записаться</a>
                            </li>

                        }
                        else if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link modalLogin" asp-area="" asp-controller="Account" asp-action="Login">Записаться</a>
                            </li>

                        }
                        @if (User.IsInRole($"{(int)Role.Admin}"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Appointment" asp-action="AdminAppointment">Записи</a>
                            </li>

                        }
                        @if (User.IsInRole($"{(int)Role.Washer}"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Appointment" asp-action="WasherAppointment">В работе</a>
                            </li>

                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Services" asp-action="Index">Услуги</a>
                        </li>
                        @if (User.IsInRole($"{(int)Role.Admin}") || User.IsInRole($"{(int)Role.Washer}"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Sheduler" asp-action="Index">Расписание</a>
                            </li>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="d-flex">
                                <a class="nav-link modalLogin" style="text-decoration: underline;" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
                                <span class="nav-link text-dark">/</span>
                                <a class="nav-link" style="text-decoration: underline;" asp-area="" asp-controller="Account" asp-action="Register" id="modalPassword">Регистрация</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" style="font-weight:bold">
                                <a class="nav-link" asp-area="" asp-controller="LK" asp-action="Index">@(User.Identity.Name)(@role)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
                            </li>
                        }
                    </ul>
                    <div class="toggleswitch">
                        <input type="checkbox" id="switch" onchange="changeColorShceme(this.checked)" /><label for="switch">Toggle</label>
                    </div>
                </div>
            </div>
        </nav>
    </footer>
    <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.Year - Art Royal Detailing - г.Уфа ул.Менделеева 134</a>
            </div>
        </footer>*@
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".modalLogin").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#formodalAuthReg').html(data);
                });
            });
        })
        $(function () {
            $.ajaxSetup({ cache: false });
            $("#modalPassword").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#formodalAuthReg').html(data);
                });
            });
        })
        changeColorShceme = (booleanChange) => {
            //const colorScheme = document.documentElement.getAttribute("data-color-scheme");
            //document.documentElement.setAttribute("data-color-scheme", colorScheme === "default" ? "dark" : "default");
            if (booleanChange == false) {
                setCookie('colorScheme', 'dark')
                document.documentElement.setAttribute("data-color-scheme", "dark")
            }
            if (booleanChange == true) {
                setCookie('colorScheme', 'default')
                document.documentElement.setAttribute("data-color-scheme", "default")
            }
        }
        const getPreferredColorSchemeForChange = () => {
            if (getCookie('colorScheme') == "dark") {
                document.querySelector('#switch').checked = false
            }
            if (getCookie('colorScheme') == "default") {
                document.querySelector('#switch').checked = true
            }
        };
        getPreferredColorSchemeForChange()
    </script>
    <script>
        createAlert = (messageTitle, messageDescription, type) => {
            let modalalert = document.createElement('div')
            modalalert.classList.add('modal-alert')
            let alertheader = document.createElement('div')
            if (type == "error")
                alertheader.classList.add('alert-header-error')
            else
                alertheader.classList.add('alert-header')
            let ionicon = document.createElement('ion-icon')
            if (type == "error")
                ionicon.setAttribute('name', 'close-outline')
            else
                ionicon.setAttribute('name', 'checkmark-done-outline')
            alertheader.appendChild(ionicon)
            let messageHeader = document.createElement('span')
            messageHeader.innerHTML = messageTitle
            alertheader.appendChild(messageHeader)
            modalalert.appendChild(alertheader)
            let alertMessage = document.createElement('div')
            alertMessage.classList.add('alert-message')
            let messageDesc = document.createElement('span')
            messageDesc.innerHTML = messageDescription
            alertMessage.appendChild(messageDesc)
            modalalert.appendChild(alertMessage)
            setTimeout(() => {
                modalalert.style.opacity = 0;
            }, 2100)
            setTimeout(() => {
                document.querySelector("#formodals").removeChild(modalalert);
            }, 2500)
            document.querySelector('#formodals').appendChild(modalalert)
        }
        window.addEventListener("DOMContentLoaded", function () {
            [].forEach.call(document.querySelectorAll('.tel'), function (input) {
                var keyCode;
                function mask(event) {
                    event.keyCode && (keyCode = event.keyCode);
                    var pos = this.selectionStart;
                    if (pos < 3) event.preventDefault();
                    var matrix = "+7 (___) ___-____",
                        i = 0,
                        def = matrix.replace(/\D/g, ""),
                        val = this.value.replace(/\D/g, ""),
                        new_value = matrix.replace(/[_\d]/g, function (a) {
                            return i < val.length ? val.charAt(i++) || def.charAt(i) : a
                        });
                    i = new_value.indexOf("_");
                    if (i != -1) {
                        i < 5 && (i = 3);
                        new_value = new_value.slice(0, i)
                    }
                    var reg = matrix.substr(0, this.value.length).replace(/_+/g,
                        function (a) {
                            return "\\d{1," + a.length + "}"
                        }).replace(/[+()]/g, "\\$&");
                    reg = new RegExp("^" + reg + "$");
                    if (!reg.test(this.value) || this.value.length < 5 || keyCode > 47 && keyCode < 58) this.value = new_value;
                    if (event.type == "blur" && this.value.length < 5) this.value = ""
                }

                input.addEventListener("input", mask, false);
                input.addEventListener("focus", mask, false);
                input.addEventListener("blur", mask, false);
                input.addEventListener("keydown", mask, false)

            });
        });
        printDivCSS = new String('<link href="print.css" rel="stylesheet" type="text/css">')
        printHTML = (htmlPage) => {
            window.frames["print_frame"].document.body.innerHTML = printDivCSS + htmlPage;
            window.frames["print_frame"].window.focus();
            window.frames["print_frame"].window.print();
            window.frames["print_frame"].document.body.innerHTML=""
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
